<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>mypage</title>
    </head>
    <body>
        <table>
            <tr>
                <td colspan="2">
                    <img src="https://s3-ap-northeast-1.amazonaws.com/prototype-ustaff/images/ustaff.png">
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/">Go to index</a>
                </td>
                <td>mypage</td>
            </tr>
    </body>
</html>
